/*----------------------------------*\ 
    INDEX SECTION MOBILE FIRST
\*----------------------------------*/
.headertext {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

.section--index {
  height: 80vh;
  margin: 0;

  .header--name {
    position: relative;
    padding-top: 2em;
    margin-left: 5.5em;
    border-bottom: 3px solid $darkblue;
    z-index: 3;

    h1 {
      font-size: 2.3em;
      margin-left: -14px;
      padding: 3px 10px;
    }
  }
}

.div--linesbackground {
  position: absolute;
  background: url(../images/testlines.png);
  height: 75vh;
  max-height: 32em;
  width: 100%;
  top: 2.8em;
  left: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: -220px;
  z-index: 0;
}

.div--trianglebackground {
  position: relative;
  background: url(../images/triangles_mobile_yellow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height: 75%;
  width: 100%;
  float: left;
  top: 7.7em;
  left: -4.8em;
  z-index: 1;

  svg {
    display: none;
  }
}

.div--introblock {
  position: absolute;
  height: auto;
  width: 82%;
  padding: 12px;
  top: 5em;
  right: 0.7em;
  z-index: 5;

  h3 {
    position: relative;
    margin: 0;
    font-size: 1.4em;
    font-family: "mrs-eaves", serif;
    font-style: italic;
    font-weight: lighter;
    text-align: justify;
    word-wrap: break-word;
  }
}

//--- BREAKPOINT TABLET PORTRAIT width 600px

@mixin index--tablet-portrait {
  .headertext {
    font-size: 2.4em;
  }

  .section--index {
    height: 50vh;

    .header--name {
      margin-left: 35%;
    }
  }

  .div--linesbackground {
    max-height: 50vh;
    height: 100%;
    top: 40px;
    background-position: -220px;
  }

  .div--trianglebackground {
    top: 4vh;
    left: -75px;
    opacity: 0.9;
  }

  .div--introblock {
    width: 50vw;
    max-width: 500px;
    padding: 30px 28px;
    background-color: $yellow2;
    transform: skew(-16deg);
    top: 18vh;
    left: calc(50vw - 50px);

    h3 {
      margin-left: 12px;
      font-size: 1.6em;
      transform: skew(16deg);
    }
  }
}

// BREAKPOINT TABLET LANDSCAPE width 900px

@mixin index--tablet {
  .headertext {
    font-size: 2.4em;
  }

  .section--index {
    height: 100vh;

    .header--name {
      margin-left: 35%;

      h1 {
        font-size: 3em;
      }
    }
  }

  .div--linesbackground {
    position: absolute;
    background: url(../images/testlines.png);
    max-height: 100vh;
    height: 100%;
    width: 100%;
    top: 40px;
    left: 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: -220px;
    z-index: 0;
  }

  .div--trianglebackground {
    min-height: 75%;
    width: 100%;
    float: left;
    top: 4vh;
    left: -75px;
    opacity: 0.9;
    z-index: 1;
  }

  .div--introblock {
    width: 50vw;
    max-width: 500px;
    padding: 30px 28px;
    background-color: $yellow2;
    transform: skew(-16deg);
    top: 18vh;
    left: calc(50vw - 50px);

    h3 {
      margin-left: 12px;
      font-size: 1.6em;
      transform: skew(16deg);
    }
  }
}

//--- BREAKPOINT LAPTOP

@mixin index--laptop {
  .headertext {
    font-size: 3.2em;
  }

  section {
    display: block;
    min-height: 100vh;
    margin: 0;
  }

  .section--index {
    top: 0;

    .header--name {
      margin-left: 36%;
      padding-top: 12vh;
      border-bottom: 4px solid $darkblue;

      h1 {
        font-size: 3.9em;
      }
    }
  }

  .div--linesbackground {
    height: 100vh;
    max-height: none;
    top: 0;
    background-size: auto 91%;
    background-position: -240px 25px;
  }

  .div--trianglebackground {
    background: none;

    display: block;
    height: 83vh;
    min-height: none;
    width: 48vw;
    top: 3.5vh;
    left: -40px;
    opacity: 1;
    text-align: right;

    svg {
      display: inline;
    }
  }

  .div--introblock {
    width: 45vw;
    max-width: 755px;
    padding: 35px 30px;
    background-color: $yellow2;
    transform: skew(-16deg);
    top: 40vh;
    left: calc(48vw - 58px);

    h3 {
      margin-left: 18px;
      font-size: 2em;
      transform: skew(16deg);
    }
  }
}

//--- BREAKPOINT width 1550px

@mixin index--desktop {
  .headertext {
    font-size: 3.8em;
  }

  .div--introblock h3 {
    font-size: 2.4em;
  }
}
