/*----------------------------------*\ 
    PROJECT PAGE MOBILE FIRST
\*----------------------------------*/

.header--projects {
  border-bottom: 3px solid $yellow;
  margin: 1.5em 0 3em 10%;

  h2 {
    font-size: 2.3em;
  }

  .burgermenu {
    margin-right: 12px;
  }
}

article.project {
  width: 95vw;
  height: auto;
  max-width: 1200px;
  margin: 2em auto;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1em;
  cursor: default;

  > div {
    background-color: #c4d5e060;
    padding: 1.5em;
  }

  h3 {
    font-size: 1.8em;
    font-weight: 400;
  }

  #subheader {
    font-weight: 400;
    font-size: 1.3em;
    margin: 0.5em 0 1em;
  }

  p {
    font-size: 1.1em;
    margin: 1em 0;
  }

  h4 {
    font-weight: 500;
    font-size: 1.3em;
    margin: 0.5em 0 1em;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: $yellow;
    font-size: 1.4em;
    display: block;
  }

  li {
    font-size: 1.2em;
  }

  a.backlink {
    text-decoration: none;
    font-size: 1.2em;
    color: $yellow;
    margin: 1em 2em 1em 0;
  }
}

.project--image {
  min-height: 40vh;
  @include flexCenter;

  img {
    height: 40vh;
    max-height: 100%;
  }

  .videoframe {
    display: none;
  }
}

.project--description {
  text-align: left;

  h4 {
    text-align: left;
  }

  h5 {
    font-size: 1.1em;
    font-weight: 500;
    text-align: left;
    margin: 1.5em 0 -10px 0;
  }

  a {
    margin: 1em 0;
    font-size: 1.2em;
  }
}

.backarrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 12px solid $yellow;
  margin-right: 0.8em;
  margin-bottom: -1px;
}

@mixin projects--laptop {
  .header--projects {
    margin: 1.5em 0 3em 50%;
    h2 {
      font-size: 2.5em;
    }
  }

  article.project {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: auto auto;
    grid-gap: 1em;

    h3 {
      font-size: 2em;
      font-weight: 400;
    }

    #subheader {
      font-weight: 400;
      font-size: 1.3em;
      margin: 0.5em 0 1em;
    }

    p {
      font-size: 1.2em;
      margin: 1em 0;
    }

    h4 {
      font-size: 1.3em;
      margin: 0.5em 0 1em;
    }

    a {
      font-size: 1.5em;
    }

    li {
      font-size: 1.2em;
    }

    a.backlink {
      font-size: 1.2em;
      margin: 1em 2em 1em 0;
    }
  }

  .project--image {
    height: 100%;

    img {
      height: 100%;
      margin: 0;
    }

    #bastardimage {
      margin-left: 27%;
    }

    .videoframe {
      object-fit: contain;
      position: relative;
      display: inline-block;
      height: 100%;
      min-width: 50%;
      max-width: 100%;
      overflow: hidden;
      margin-left: 2em;

      video {
        position: absolute;
        max-height: 100%;
        border-radius: 22px;
      }
    }
  }
}
