@import url("https://use.typekit.net/wxs3hfe.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
  margin: 0;
  color: #0c2f44;
  font-family: "brandon-grotesque", sans-serif;
}

/*---------------------------*\ 
    NAVIGATION MOBILE FIRST
\*---------------------------*/
.burgermenu {
  float: right;
  height: 21px;
  margin-right: 5px;
  margin-top: 16px;
  cursor: pointer;
}

.nav--mobile {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rgba(196, 213, 224, 0.96);
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav--mobile .overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.nav--mobile a {
  display: block;
  font-weight: 300;
  font-size: 2.5em;
  padding: 0.5em;
  color: #0c2f44;
  text-decoration: none;
  cursor: pointer;
}

.nav--mobile .closebtn {
  position: absolute;
  top: -20px;
  right: 10px;
  font-size: 4em;
  padding-right: 10px;
}

/*-----------------------------------------*\ 
        #NAVIGATION SIDE + VERTICAL DESKTOP
\*-----------------------------------------*/
.nav--side {
  display: none;
  height: 85px;
  width: 100vh;
  position: fixed;
  top: 0%;
  right: 0%;
  background: #efbaa7;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotate(90deg) translateX(100%);
          transform: rotate(90deg) translateX(100%);
  z-index: 100;
}

.nav--side > button {
  font-family: "brandon-grotesque", sans-serif;
  background-color: transparent;
  border: none;
  padding: 1.2em 1.5em;
  margin: 1em;
  margin-top: 10px;
}

button > a {
  text-decoration: none;
  color: #0c2f44;
  font-size: 1.7em;
  font-weight: 400;
}

.navarrow {
  position: absolute;
  height: 25px;
  top: calc(50% - 15px);
  right: 4%;
}

@media screen and (min-height: 550px) and (min-width: 960px) {
  .burgermenu {
    display: none;
  }
  .nav--mobile {
    display: none;
  }
  .nav--side {
    display: block;
  }
  #profileimg {
    background-image: url(../images/aboutprofile.png);
  }
}

@media screen and (min-height: 690px) {
  .nav--side > button {
    padding: 1.2em 2.5em;
  }
  button > a {
    font-size: 2.1em;
  }
  .navarrow {
    height: 30px;
  }
}

/*----------------------------------*\ 
    INDEX SECTION MOBILE FIRST
\*----------------------------------*/
.headertext {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

.section--index {
  height: 80vh;
  margin: 0;
}

.section--index .header--name {
  position: relative;
  padding-top: 2em;
  margin-left: 5.5em;
  border-bottom: 3px solid #0c2f44;
  z-index: 3;
}

.section--index .header--name h1 {
  font-size: 2.3em;
  margin-left: -14px;
  padding: 3px 10px;
}

.div--linesbackground {
  position: absolute;
  background: url(../images/testlines.png);
  height: 75vh;
  max-height: 32em;
  width: 100%;
  top: 2.8em;
  left: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: -220px;
  z-index: 0;
}

.div--trianglebackground {
  position: relative;
  background: url(../images/triangles_mobile_yellow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height: 75%;
  width: 100%;
  float: left;
  top: 7.7em;
  left: -4.8em;
  z-index: 1;
}

.div--trianglebackground svg {
  display: none;
}

.div--introblock {
  position: absolute;
  height: auto;
  width: 82%;
  padding: 12px;
  top: 5em;
  right: 0.7em;
  z-index: 5;
}

.div--introblock h3 {
  position: relative;
  margin: 0;
  font-size: 1.4em;
  font-family: "mrs-eaves", serif;
  font-style: italic;
  font-weight: lighter;
  text-align: justify;
  word-wrap: break-word;
}

/*------------------------------*\ 
  PORTFOLIO SECTION MOBILE FIRST
\*------------------------------*/
.section--portfolio {
  padding-top: 1.8em;
}

.header--pf {
  margin-right: 27%;
  border-bottom: 3px solid #d5ad39;
  text-align: right;
}

.header--pf h2 {
  color: #0c2f44;
  margin-right: -2px;
}

.grid--pfwrapper {
  height: auto;
  width: 80%;
  margin: 1em auto;
  margin-top: 5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2em;
}

article {
  background-color: #c4d5e0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  height: 45vh;
  cursor: pointer;
}

article img {
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 75%;
}

#pf1 > img {
  max-height: 73%;
}

#pf5 > img {
  max-height: 68%;
}

.titlelayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  min-height: 25%;
  width: 100%;
  opacity: 1;
  background-color: #ffffff7c;
}

.titlelayer .projecttitle {
  font-size: 1.4em;
  color: #0c2f44;
  margin: 0.5em;
}

/*------------------------------*\ 
    ABOUT SECTION MOBILE FIRST
\*------------------------------*/
p {
  font-size: 1.1em;
  font-weight: 300;
  text-align: justify;
  margin: 0;
}

.section--about {
  margin-top: 5em;
  padding-top: 1.2em;
}

.header--about {
  margin-right: 27%;
  border-bottom: 3px solid #d5ad39;
  text-align: right;
}

.header--about h2 {
  margin-right: -2px;
}

.grid--aboutwrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1em;
}

.aboutintro {
  margin: 1.5em 1.8em;
}

.div--profilebg {
  height: 360px;
  width: 94%;
  margin: 0 auto;
  background-image: url(../images/aboutprofile_pink.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.profilelinks {
  -webkit-transform: rotate(-14.5deg);
          transform: rotate(-14.5deg);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  position: relative;
  top: 10px;
}

.profilelinks a {
  display: inline;
  font-size: 1.2em;
  font-weight: 500;
  color: #0c2f44;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 0.8em;
  cursor: pointer;
}

.div--understanding {
  margin: 1.8em;
}

.div--understanding h3 {
  font-size: 2.4em;
  font-family: "mrs-eaves", serif;
  font-style: italic;
  font-weight: 500;
  text-align: left;
  margin-top: 1.3em;
  margin-bottom: 0.5em;
}

.div--understanding h4 {
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 1em 0 0.5em 0;
}

.grid--iconwrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65px 75px 65px;
      grid-template-columns: 65px 75px 65px;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -webkit-column-gap: 1.3em;
          column-gap: 1.3em;
  row-gap: 0.5em;
  justify-items: center;
  text-align: center;
  margin: 2em 0;
}

.grid--iconwrapper h5 {
  font-size: 0.6em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.icons {
  height: 65px;
  width: 65px;
  cursor: pointer;
  background-color: #c4d5e0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons:focus {
  outline: 0;
}

.icons img {
  max-height: 58%;
  max-width: 58%;
}

.icon--selected {
  background-color: #d5ad39;
}

.nextarrow {
  font-weight: 500;
  margin-left: 0.8em;
}

.seeyou {
  color: #d5ad39;
  font-size: 1.5em;
  font-weight: 400;
  margin: 2em 0;
  margin-left: 5.5em;
  border-bottom: 3px solid #0c2f44;
}

.uparrow {
  float: right;
  margin: 10px 0.8em 0 0.8em;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 20px 11px;
  border-color: transparent transparent #c4d5e0 transparent;
}

@media (min-width: 600px) and (max-width: 1100px) {
  .headertext {
    font-size: 2.4em;
  }
  .section--index {
    height: 100vh;
  }
  .div--linesbackground {
    position: absolute;
    background: url(../images/testlines.png);
    height: 100%;
    width: 100%;
    top: 40px;
    left: 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: -220px;
    z-index: 0;
  }
  .div--trianglebackground {
    position: relative;
    background: url(../images/triangles_mobile_yellow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: 80%;
    width: 100%;
    float: left;
    top: 2vh;
    left: -70px;
    opacity: 0.9;
    z-index: 1;
  }
}

@media (min-width: 1100px) {
  .headertext {
    font-size: 3.9em;
  }
  section {
    display: block;
    height: 100vh;
    margin: 0;
  }
  .section--index {
    height: 100vh;
  }
  .section--index .header--name {
    margin-left: 36%;
    margin-top: 12vh;
    border-bottom: 4px solid #0c2f44;
  }
  .section--index .header--name h1 {
    font-size: 3.9em;
  }
  .div--linesbackground {
    height: 100vh;
    max-height: none;
    top: 0;
    background-size: auto 91%;
    background-position: -240px 25px;
  }
  .div--trianglebackground {
    background: none;
    display: block;
    height: 83vh;
    min-height: none;
    width: 48vw;
    top: 3.5vh;
    left: -40px;
    opacity: 1;
    text-align: right;
  }
  .div--trianglebackground svg {
    display: inline;
    position: relative;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .div--introblock {
    width: 45vw;
    max-width: 755px;
    padding: 35px 30px;
    background-color: #dcbb5b;
    -webkit-transform: skew(-16deg);
            transform: skew(-16deg);
    top: 40vh;
    left: calc(48vw - 58px);
  }
  .div--introblock h3 {
    margin-left: 18px;
    font-size: 2em;
    -webkit-transform: skew(16deg);
            transform: skew(16deg);
  }
  .section--portfolio {
    margin-top: 2em;
  }
  .header--pf {
    margin-right: 60%;
    border-bottom: 4px solid #0c2f44;
  }
  .header--pf h2 {
    margin-right: -5px;
    color: #d5ad39;
  }
  .grid--pfwrapper {
    height: 700px;
    width: 60vw;
    min-width: 900px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 0.3fr 1fr;
        grid-template-columns: 1fr 1fr 0.3fr 1fr;
    -ms-grid-rows: 35vh 35vh;
        grid-template-rows: 35vh 35vh;
  }
  #pf1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: 1 / 1;
  }
  #pf2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1 / 2 / 2 / span 2;
  }
  #pf3 {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: 1 / 4;
  }
  #pf4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / span 2;
  }
  #pf5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 2 / 3 / 3 / span 2;
  }
  .grid--pfwrapper > article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #c4d5e0;
    position: relative;
    min-height: 25vh;
    height: auto;
    padding: 1.5em;
    cursor: pointer;
  }
  .grid--pfwrapper > article > img {
    -o-object-fit: contain;
       object-fit: contain;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.95;
  }
  #pf1 > img {
    max-height: 100%;
  }
  #pf5 > img {
    max-height: 100%;
  }
  .titlelayer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #0c2f44;
  }
  .titlelayer:hover {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    opacity: 0.95;
  }
  .titlelayer .projecttitle {
    font-size: 2.5em;
    color: #d5ad39;
    margin: 0.5em;
  }
}

@media (min-width: 1550x) {
  .headertext {
    font-size: 4.2em;
  }
  .div--introblock h3 {
    font-size: 2.4em;
  }
}
/*# sourceMappingURL=style.css.map */